.root{
    -fx-background-color: #b30059;
}

#loginButton {
    -fx-background-color: #ff66b3;
    -fx-text-fill: #b30059;
    -fx-font-weight: bold;
}

#loginLabel{
    -fx-text-fill: #ff66b3;
    -fx-font-weight: bold;
}
